<!DOCTYPE html>
<html>
<head>
	<title>Roshan</title>
	!--Date Picker -->
	<link href="css/jquery-ui.css" rel="stylesheet">
	<script src="js/jquery.min.js"></script> 
	<script src="js/jquery-ui.min.js"></script> 
	<script src="js/index.js"></script> 
	<script>
	          $(document).ready(function() {
	          $(".datepicker").datepicker();
	          });
	</script>
	<link href="img/favicon.png" rel="shortcut icon" type="image/png"><!--/Date Picker -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css"><!-- Custom Fonts -->
	<!-- Custom Css -->
	<link href="css/roshan.css" rel="stylesheet" type="text/css">
	<link href="css/results.css" rel="stylesheet" type="text/css">
	<link href="css/hotel-results.css" rel="stylesheet" type="text/css">
	<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"><!-- HEADER -->
	<div class="navbar-header page-scroll navbar-fixed-top navbar-custom">
		<div class="container">
			<div class="navbar-header page-scroll">
				<a class="navbar-brand" href="/">Roshan</a>
			</div>

		</div>
	</div>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>