<body onload="javascript:populateOne()">
	<!-- HEADER -->
<input type="text" id="from1"></input>
<input type="text" id="to1"></input>
<div id="from2"></div>
<div id="to2"></div>
	<!--MAIN-->
<div id="parent2" class="parent">
    <span>11</span>
    <span>12</span>
    <span>13</span>
    <span>14</span>
    <span>15</span>
    <span>16</span>
</div>

	<header>
		<div class="container">
			<div class="result-container top-round">
				<div class="description-cards">
					<h3 class="description" style="text-decoration: underline;">Choose your flight</h3>
					<h5 class="description">The trip prices shown below includes additional fees imposed by the travel agency to be used. Prices may differ on official airline website. </h5>
					<div class="row">
						<div class="col-md-8">
							<h5 class="description">Sort By: <a href = "javascript:sortByTimeDepart()">Price </a><a href = "http://google.com">Departure Time </a><a href = "http://google.com">Arrival Time </a><a href = "http://google.com">Duration</a> </h5> 

						</div>
						<div class="col-md-4">
							<button type="button" class="btn btn-info btn-arrow-right" onclick="location.href='/hotel-results'">Proceed To Hotels</button>
							</div>
					</div>
				</div>		
			</div>

			<div class="result-container">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo0">
							<p class="airline-name">Air Asia</p>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>
									<p class="header-login" id="dTime1"></p>
								</div>
								<div class="col-md-6">
									<p class="header-login">TO</p>
									<p class="header-login" id="aTime1"></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<p class="header-login" id="1price"></p>
							<a id="btn1" class="btn" onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>

			<div class="result-container">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo1">

							<p class="airline-name">Cebu Pacific</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime2"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime2"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="2price"></p>
							<a id="btn2" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"  type="button">Book This Flight</a>
						</div>
					</div>	
				</div>
			</div>


			<div class="result-container">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo2">

							<p class="airline-name">PAL</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login" >FROM</p>


									<p class="header-login" id="dTime3"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime3"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="3price"></p>
							<a id="btn3" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"onclick="location.href = 'hotel-results';"type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


			<div class="result-container">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo3">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime4"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime4"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="4price"></p>
							<a id="btn4" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"onclick="location.href = 'hotel-results';"type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>

				<div class="result-container">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo4">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime5"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime5"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="5price"></p>
							<a id="btn5" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"onclick="location.href = 'hotel-results';"type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


	<div class="result-container">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo5">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime6"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime6"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="6price"></p>
							<a id="btn6" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"onclick="location.href = 'hotel-results';"type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


	<div class="result-container">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo6">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime7"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime7"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="7price"></p>
							<a id="btn7" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"onclick="location.href = 'hotel-results';"type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


	<div class="result-container">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo7">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime8"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime8"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="8price"></p>
							<a id="btn8" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"onclick="location.href = 'hotel-results';"type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


	<div class="result-container">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo8">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime9"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime9"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="9price"></p>
							<a id="btn9" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"onclick="location.href = 'hotel-results';"type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


	<div class="result-container">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo9">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime10"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime10"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="10price"></p>
							<a id="btn10" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"onclick="location.href = 'hotel-results';"type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


	<div class="result-container">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo10">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime11"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime11"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="11price"></p>
							<a id="btn11" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"onclick="location.href = 'hotel-results';"type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


	<div class="result-container">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo11">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime12"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime12"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="12price"></p>
							<a id="btn12" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"onclick="location.href = 'hotel-results';"type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


	<div class="result-container">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo12">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime13"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime13"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="13price"></p>
							<a id="btn13" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"onclick="location.href = 'hotel-results';"type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


	<div class="result-container">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo13">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime14"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime14"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="14price"></p>
							<a id="btn14" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"onclick="location.href = 'hotel-results';"type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


	<div class="result-container">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo14">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime15"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime15"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="15price"></p>
							<a id="btn15" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"onclick="location.href = 'hotel-results';"type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


	<div class="result-container">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo15">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime16"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime16"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="16price"></p>
							<a id="btn16" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"onclick="location.href = 'hotel-results';"type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


	<div class="result-container">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo16">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime17"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime17"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="17price"></p>
							<a id="btn17" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"onclick="location.href = 'hotel-results';"type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


	<div class="result-container">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo17">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime18"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime18"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="18price"></p>
							<a id="btn18" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"onclick="location.href = 'hotel-results';"type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


	<div class="result-container">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo18">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime19"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime19"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="19price"></p>
							<a id="btn19" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"onclick="location.href = 'hotel-results';"type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>



			<div class="result-container bottom-round">
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo19">

							<p class="airline-name">Air Asia</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime20"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime20"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="20price"></p>
							<a id="btn20" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;"onclick="location.href = 'hotel-results';"type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--FOOTER -->


	<footer class="text-center">
		<div class="footer-above">
			<div class="container">
				<div class="row">
					<div class="footer-col col-md-4">
						<h3>Designed by</h3>


						<h6>@heyimjoses</h6>
					</div>


					<div class="footer-col col-md-4">
						<h3>Around the Web</h3>


						<ul class="list-inline">
							<li>
								<a class="btn-social btn-outline" href="#"><i class=
								"fa fa-fw fa-facebook"></i></a>
							</li>


							<li>
								<a class="btn-social btn-outline" href="#"><i class=
								"fa fa-fw fa-google-plus"></i></a>
							</li>


							<li>
								<a class="btn-social btn-outline" href="#"><i class=
								"fa fa-fw fa-twitter"></i></a>
							</li>


							<li>
								<a class="btn-social btn-outline" href="#"><i class=
								"fa fa-fw fa-linkedin"></i></a>
							</li>


							<li>
								<a class="btn-social btn-outline" href="#"><i class=
								"fa fa-fw fa-dribbble"></i></a>
							</li>
						</ul>
					</div>


					<div class="footer-col col-md-4">
						<h3>About Roshan</h3>


						<h6>Roshan is a flight and Hotel search-engine designed to help Travelers
						acquire the best possible deals on their vacation.</h6>
					</div>
				</div>
			</div>
		</div>


		<div class="footer-below">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						Copyright &copy; Roshan 2016
					</div>
				</div>
			</div>
		</div>
	</footer>
