<body onload="javascript:populateOne();">


	<header>
		<div class="container">
			<div class="result-container top-round">
				<div class="description-cards">
					<h3 class="description" style="text-decoration: underline;" id="desc1">Choose your flight</h3>
					<h5 class="description" id='desc2'>The trip prices shown below includes additional fees imposed by the travel agency to be used. Prices may differ on official airline website. </h5>
					<div class="row">
						<div class="col-md-8">
							<h5 class="description" id='sortingLinks'>Sort By: <a href = "javascript:sortByPrice()">Price </a><a href = "javascript:sortByTimeDepart()">Departure Time </a><a href = "javascript:sortByTimeArrive()">Arrival Time </a> </h5>

						</div>
						<div class="col-md-4">
							<button type="button" class="btn btn-info btn-arrow-right" onclick="location.href='/hotel-results'" id='proceedBtn'>Proceed To Hotels</button>
						</div>
					</div>
				</div>
			</div>

			<div class="result-container" id='rc1'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo0">
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>
									<p class="header-login" id="dTime1"></p>
								</div>
								<div class="col-md-6">
									<p class="header-login">TO</p>
									<p class="header-login" id="aTime1"></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<p class="header-login" id="1price"></p>
							<a id="btn1" class="btn" onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>

			<div class="result-container" id='rc2'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo1">
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime2"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime2"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="2price"></p>
							<a id="btn2" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


			<div class="result-container" id='rc3'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo2">

							<p class="airline-name">PAL</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime3"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime3"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="3price"></p>
							<a id="btn3" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


			<div class="result-container" id='rc4'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo3">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime4"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime4"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="4price"></p>
							<a id="btn4" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>

			<div class="result-container" id='rc5'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo4">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime5"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime5"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="5price"></p>
							<a id="btn5" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


			<div class="result-container" id='rc6'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo5">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime6"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime6"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="6price"></p>
							<a id="btn6" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


			<div class="result-container" id='rc7'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo6">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime7"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime7"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="7price"></p>
							<a id="btn7" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


			<div class="result-container" id='rc8'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo7">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime8"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime8"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="8price"></p>
							<a id="btn8" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


			<div class="result-container" id='rc9'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo8">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime9"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime9"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="9price"></p>
							<a id="btn9" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


			<div class="result-container" id='rc10'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo9">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime10"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime10"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="10price"></p>
							<a id="btn10" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


			<div class="result-container" id='rc11'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo10">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime11"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime11"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="11price"></p>
							<a id="btn11" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


			<div class="result-container" id='rc12'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo11">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime12"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime12"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="12price"></p>
							<a id="btn12" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


			<div class="result-container" id='rc13'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo12">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime13"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime13"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="13price"></p>
							<a id="btn13" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


			<div class="result-container" id='rc14'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo13">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime14"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime14"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="14price"></p>
							<a id="btn14" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


			<div class="result-container" id='rc15'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo14">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime15"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime15"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="15price"></p>
							<a id="btn15" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


			<div class="result-container" id='rc16'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo15">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime16"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime16"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="16price"></p>
							<a id="btn16" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


			<div class="result-container" id='rc17'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo16">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime17"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime17"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="17price"></p>
							<a id="btn17" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


			<div class="result-container" id='rc18'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo17">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime18"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime18"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="18price"></p>
							<a id="btn18" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>


			<div class="result-container" id='rc19'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo18">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime19"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime19"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="19price"></p>
							<a id="btn19" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>

			<div class="result-container" id='rc20'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo19">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime20"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime20"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="20price"></p>
							<a id="btn20" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>

			<div class="result-container" id='rc21'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo20">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime21"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime21"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="21price"></p>
							<a id="btn21" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>
			<div class="result-container" id='rc22'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo21">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime22"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime22"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="22price"></p>
							<a id="btn22" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>

			<div class="result-container" id='rc23'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo22">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime23"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime23"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="23price"></p>
							<a id="btn23" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>
			<div class="result-container" id='rc24'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo23">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime24"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime24"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="24price"></p>
							<a id="btn24" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>
			<div class="result-container" id='rc25'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo24">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime25"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime25"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="25price"></p>
							<a id="btn25" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>

			<div class="result-container" id='rc26'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo25">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime26"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime26"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="26price"></p>
							<a id="btn26" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>
			<div class="result-container" id='rc27'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo26">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime27"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime27"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="27price"></p>
							<a id="btn27" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>
			<div class="result-container" id='rc28'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo27">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime28"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime28"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="28price"></p>
							<a id="btn28" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>
			<div class="result-container" id='rc29'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo28">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime29"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime29"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="29price"></p>
							<a id="btn29" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>
			<div class="result-container" id='rc30'>
				<div class="flight-cards">
					<div class="row">
						<div class="col-md-4">
							<img class="airline-logos" src="img/gray.png" id="logo29">

							<p class="airline-name">Tiger Air</p>
						</div>


						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="header-login">FROM</p>


									<p class="header-login" id="dTime30"></p>
								</div>


								<div class="col-md-6">
									<p class="header-login">TO</p>


									<p class="header-login" id="aTime30"></p>
								</div>
							</div>
						</div>


						<div class="col-md-4">
							<p class="header-login" id="30price"></p>
							<a id="btn30" class="btn " onclick="window.open(this.href,'targetWindow', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=400'); return false;" onclick="location.href = 'hotel-results';" type="button">Book This Flight</a>
						</div>
					</div>
				</div>
			</div>
			<div class="result-container bottom-round">

			</div>
		</div>
	</header>
	<!--FOOTER -->


<footer class="text-center" id='footr'>
	<div class="footer-above">
		<div class="container">
			<div class="row">
				<div class="footer-col col-md-4">
					<h4>Designed by</h4>
					<h6>@heyimjoses</h6>
				</div>
				<div class="footer-col col-md-4">
					<h4>Around the Web</h4>
					<ul class="list-inline">
						<li>
							<a class="btn-social btn-outline" href="https://www.facebook.com/heyimjoses"><i class="fa fa-fw fa-facebook"></i></a>
						</li>
						<li>
							<a class="btn-social btn-outline" href="https://twitter.com/heyimjoses"><i class="fa fa-fw fa-twitter"></i></a>
						</li>
					</ul>
				</div>
				<div class="footer-col col-md-4">
					<h5>About Roshan</h5>
					<h6>Roshan is a flight and Hotel search-engine designed to help Travelers acquire the best possible deals on their vacation.</h6>
				</div>
			</div>
		</div>
	</div>

</footer>