<body onload="javascript:populateOne();javascript:setItems()">
	<script type="text/javascript">
		function setItems(){
		
			var origin = sessionStorage.getItem('Current Location');
			var dest = sessionStorage.getItem('Destination');
			var fullorigin = sessionStorage.getItem('Full origin');
			var fulldest = sessionStorage.getItem('Full destination');
			var dateDepart = sessionStorage.getItem('Date-Depart');
			var dateArive = sessionStorage.getItem('Date-Arrive');
			var triptype = sessionStorage.getItem('Trip-type');
		
			document.getElementById('xxx').value = origin;
			document.getElementById('yyy').value = dest;
			document.getElementById('xx').value = fullorigin;
			document.getElementById('yy').value = fulldest;
			document.getElementById('dateDepart').value = dateDepart;
			document.getElementById('dateArrive').value = dateArrive;
			document.getElementById('triptype').value = triptype;
		
		}
		
		
		
		
	</script>
	<header>
		<form action="save-alternate" id="main-container" method="post" name="main-container" style="width:60%;display: none;">
			<input id="xx" name="xx" type="hidden" value='hoy'><input id="yy" name="yy" type="hidden">
			<input id="xxx" name="xxx" type="hidden" value=''><input id="yyy" name="yyy" type="hidden"> 
			<input id="triptype" name="triptype" value="0" type="hidden">
			<input id="dateDepart" name="dateDepart" type="hidden">
			<input id="dateArrive" name="dateArrive" type="hidden" >
			<input id="fromTXB" name="dateArrive" type="hidden" >
			<input id="toTXB" name="dateArrive" type="hidden" >
			<h3 class="description" style="text-decoration: underline;" id="descript1">Choose your flight</h3>
			<h5 class="description" id='descript2'>The trip prices shown below may include additional fees imposed by third party websites. Prices may differ on official airline website. </h5>
			<div class="row">
				<input class="btn searchbtn" name="searchme" id="search-button" onclick="dothemagic()" type="submit" value="Search Alternative Routes">	
				<div class="col-md-8">
					<h5 class="description" id='sortingLinks1'>Sort By: <a href = "javascript:sortByPrice()">Price </a><a href = "javascript:sortByTimeDepart()">Departure Time </a><a href = "javascript:sortByTimeArrive()">Arrival Time </a> </h5>
				</div>
			</div>
		</form>

		<input id="numberOfPassengers" name="numberOfPassengers" type="hidden">
		<div class="container"  id='desccard'>
			<div class="result-container top-round">
				<div class="description-cards">
					<h3 class="description" style="text-decoration: underline;" id="desc1">Choose your flight</h3>
					<h5 class="description" id='desc2'>The trip prices shown below may include additional fees imposed by third party websites. Prices may differ on official airline website. </h5>
					<div class="row">
						<div class="col-md-8">
							<h5 class="description" id='sortingLinks'>Sort By: <a href = "javascript:sortByPrice()">Price </a><a href = "javascript:sortByTimeDepart()">Departure Time </a><a href = "javascript:sortByTimeArrive()">Arrival Time </a> </h5>
						</div>
						<div class="col-md-4">
							<button type="button" class="btn btn-info btn-arrow-right" onclick="location.href='/hotel-results'" id='proceedBtn'>Proceed To Hotels</button>
						</div>
					</div>
				</div>
			</div>
			<div id='resultss'>
			
			
			</div>
			<div class="result-container bottom-round">
			</div>
		</div>
	</header>
	<!--FOOTER -->
	<footer class="text-center" id='footr'>
		<div class="footer-above">
			<div class="container">
				<div class="row">
					<div class="footer-col col-md-4">
						<h4>Designed by</h4>
						<h6>@heyimjoses</h6>
					</div>
					<div class="footer-col col-md-4">
						<h4>Around the Web</h4>
						<ul class="list-inline">
							<li>
								<a class="btn-social btn-outline" href="https://www.facebook.com/heyimjoses"><i class="fa fa-fw fa-facebook"></i></a>
							</li>
							<li>
								<a class="btn-social btn-outline" href="https://twitter.com/heyimjoses"><i class="fa fa-fw fa-twitter"></i></a>
							</li>
						</ul>
					</div>
					<div class="footer-col col-md-4">
						<h5>About Roshan</h5>
						<h6>Roshan is a flight and Hotel search-engine designed to help Travelers acquire the best possible deals on their vacation.</h6>
					</div>
				</div>
			</div>
		</div>
	</footer>