<body onload="javascript:populateHotels()">

	<header>
		<div class="container" id='cont1'>
			<div class="result-container top-round">
				<div class="description-cards">
					<h3 class="description" style="text-decoration: underline;">Choose your hotel</h3>
					<h5 class="description">The trip prices shown below only includes Hotel, taxes and fees.</h5>
				</div>
			</div>
			<div id='results'>
			

			

			</div>
			<div class="result-container bottom-round">
			</div>
			
		</div>
	</header>
	<!--FOOTER -->

	<footer class="text-center">
		<div class="footer-above">
			<div class="container">
				<div class="row">
					<div class="footer-col col-md-4">
						<h3>Designed by</h3>

						<h6>@heyimjoses</h6>
					</div>

					<div class="footer-col col-md-4">
						<h3>Around the Web</h3>

						<ul class="list-inline">
							<li>
							<a class="btn-social btn-outline" href="https://www.facebook.com/heyimjoses"><i class="fa fa-fw fa-facebook"></i></a>
							</li>
							<li>
								<a class="btn-social btn-outline" href="https://twitter.com/heyimjoses"><i class="fa fa-fw fa-twitter"></i></a>
							</li>
						</ul>
					</div>

					<div class="footer-col col-md-4">
						<h3>About Roshan</h3>

						<h6>Roshan is a flight and Hotel search-engine designed to help Travelers
						acquire the best possible deals on their vacation.</h6>
					</div>
				</div>
			</div>
		</div>	
	</footer>