<script>
	
	/*Determines which values were selected and sets corresponding values to hidden div elements to be submitted*/
	$( function() {
	  $("#direct") 
	   .change(function(){ 
	       if( $(this).is(":checked") ){ 
	           $("#triptype").val("0");
	           $('#arDate').hide('fast');
	          
	       }
	   });
	$("#round-trip") 
	   .change(function(){ 
	       if( $(this).is(":checked") ){ 
	           $("#triptype").val("1");
	           $('#arDate').show('fast');
	       }
	   });
	 });

	$(function(){
		 $("#depDate").datepicker().on("change", function() {
		    $('#dateDepart').val(($('#depDate').val()));
		 });
		  $("#arDate").datepicker().on("change", function() {
		    $('#dateArrive').val(($('#arDate').val()));
		 });
		  $("#numOfPass").on("input", function() {
		    $('#numberOfPassengers').val(($('#numOfPass').val()));
		 });
		  var budget = $('#budget-range').val();
		  var bRange = budget.substring((budget.length/2)-1,budget.length);
		  $("#budget-range").on("input", function() {
		    $('#budgetRange').val(bRange);
		 });
	});

	/* FROM and TO textbox autofill functionality */
	$(function() {
	   var availableTags = [
		"Bacolod - BCD","Butuan - BXU","Cagayan De Oro - CGY","Calbayog - CYP",
		"Camiguin - CGM","Cauayan - CYZ","Cebu - CEB","Coron - USU","Cotabato - CBO",
		"Davao - DVO","Del Carmen - IAO","Dipolog - DPL","Dumaguete - DGT","General Santos - GES","Iloilo - ILO",
		"Kalibo - KLO","Laoag - LAO","Legaspi - LGP","Luzon Island - CRK","Malay - MPH","Manila - MNL",
		"Masbate - MBT","Naga - WNP","Ozamis City - OZC","Pagadian - PAG","Puerto Princesa - PPS","Roxas - RXS",
		"San Jose - SJI","Surigao - SUG","Tablas - TBH","Tacloban - TAC","Tagbilaran - TAG","Tandag - TDG",
		"Tawi Tawi - TWT","Tuguegarao - TUG","Virac - VRC","Zamboanga - ZAM",
	   ];
	   $("#fromTXB").autocomplete({
		source: availableTags,
		change: function(event,ui)
		{
		if (ui.item==null)
		    {
		    $("#fromTXB").val('');
		    $("#fromTXB").focus();
		    }
		}
	});
	});	
	$(function() {
	   var availableTags = [
		"Bacolod - BCD","Butuan - BXU","Cagayan De Oro - CGY","Calbayog - CYP",
		"Camiguin - CGM","Cauayan - CYZ","Cebu - CEB","Coron - USU","Cotabato - CBO",
		"Davao - DVO","Del Carmen - IAO","Dipolog - DPL","Dumaguete - DGT","General Santos - GES","Iloilo - ILO",
		"Kalibo - KLO","Laoag - LAO","Legaspi - LGP","Luzon Island - CRK","Malay - MPH","Manila - MNL",
		"Masbate - MBT","Naga - WNP","Ozamis City - OZC","Pagadian - PAG","Puerto Princesa - PPS","Roxas - RXS",
		"San Jose - SJI","Surigao - SUG","Tablas - TBH","Tacloban - TAC","Tagbilaran - TAG","Tandag - TDG",
		"Tawi Tawi - TWT","Tuguegarao - TUG","Virac - VRC","Zamboanga - ZAM",
	   ];
	   $("#toTXB").autocomplete({
		source: availableTags,
		change: function(event,ui) {
			var fromTXB = $("#fromTXB").val();
			var toTXB = $("#toTXB").val();
			/*Parses location chosen to either full name or IATA code equivalent */
			$("#xx").val(fromTXB.substr(0,fromTXB.length - 6));
			$("#yy").val(toTXB.substr(0,toTXB.length - 6));
			$("#xxx").val(fromTXB.substr(fromTXB.length - 3));
			$("#yyy").val(toTXB.substr(toTXB.length - 3));
		if (ui.item==null) {
		    $("#toTXB").val('');
		    $("#toTXB").focus();
		    }
		}
	   });
	 }); 


</script>


<body>

<div class="container">
		<form action="save" id="main-container" method="post" name="main-container">
			<!-- User selected values to be submitted are hidden here for script to retrieve -->
			<input id="xx" name="xx" type="hidden" ><input id="yy" name="yy" type="hidden">
			<input id="xxx" name="xxx" type="hidden"><input id="yyy" name="yyy" type="hidden">
			<input id="triptype" name="triptype" value="0" type="hidden">
			<input id="dateDepart" name="dateDepart" type="hidden">
			<input id="dateArrive" name="dateArrive" type="hidden">
			<input id="numberOfPassengers" name="numberOfPassengers" type="hidden">
			<input id="budgetRange" name="budgetRange" type="hidden">
			<div class="form-group">
				<div class="row">
					<div class="col-md-2" style="float: left;">
						<label class="radio-inline header-login">
							<input name="triptypename" checked="checked" id="direct"  type="radio">
								One Way
						</label>
					</div>
					<div class="col-md-3" style="float: left;">
						<label class="radio-inline header-login">
							<input name="triptypename" id="round-trip"  type="radio">
								Round Trip
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-6">
						<input class="form-control" id="fromTXB" name="fromTXB" placeholder="From" type="text">
					</div>
					<div class="col-md-6">
						<input class="form-control" id="toTXB" name="toTXB" placeholder="To" type="text">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-3">
						<input id="depDate" class="form-control datepicker" placeholder="Depart date" type="text">
					</div>
					<div class="col-md-3">
						<input id="arDate" class="form-control datepicker" placeholder="Arrival date" type="text" style="display: none;">
					</div>
					<div class="col-md-4">
						<input class="form-control" id="budget-range" name="budgetRange" placeholder="Budget Range" type="number" pattern="[0-9]" min="0" max="10000">
					</div>
				</div>
			</div>

			<div class="form-group">

				<div class="row">
					
					<div class="col-md-4" style="float: right;">
						<input class="btn searchbtn" name="searchme" id="search-button" onclick="dothemagic()" type="submit" value="Search Flights and Hotels">		
					</div>
				</div>
			</div>
			
		</form>
	</div>
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <label class="modal-title" id='modal-title'></label>
	      </div>
	      <div class="modal-body">
	        <p id='modal-body'></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>
</body>

<footer class="text-center index">
	<div class="footer-above">
		<div class="container">
			<div class="row">
				<div class="footer-col col-md-4">
					<h4>Designed by</h4>
					<h6>@heyimjoses</h6>
				</div>
				<div class="footer-col col-md-4">
					<h4>Around the Web</h4>
					<ul class="list-inline">
						<li>
							<a class="btn-social btn-outline" href="https://www.facebook.com/heyimjoses"><i class="fa fa-fw fa-facebook"></i></a>
						</li>
						<li>
							<a class="btn-social btn-outline" href="https://twitter.com/heyimjoses"><i class="fa fa-fw fa-twitter"></i></a>
						</li>
					</ul>
				</div>
				<div class="footer-col col-md-4">
					<h5>About Roshan</h5>
					<h6>Roshan is a flight and Hotel search-engine designed to help Travelers acquire the best possible deals on their vacation.</h6>
				</div>
			</div>
		</div>
	</div>

</footer>
