
	<<!-- MAIN -->
	<header>
		<div class="container">
			<form action="save" id="main-container" method="post" name="main-container">
				<div class="form-group">
					<div class="row">
						<div class="col-md-2" style="float: left;">
							<label class="radio-inline header-login"><input checked="checked" id="direct" name="trip-type" onclick="indexRadio()" type="radio">Direct Trip</label>
						</div>
						<div class="col-md-2" style="float: left;">
							<label class="radio-inline header-login"><input id="round-trip" name="trip-type" onclick="indexRadio()" type="radio">Round Trip</label>
						</div><!--
                        <div class="col-md-2" style="float: left;">
                            <label class="radio-inline header-login"><input name="trip-type" type=
                            "radio" value="">Alternative Routes</label>
                        </div> 
                         -->
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-6">
							<input class="form-control" id="fromTXB" name="fromTXB" placeholder="From" type="text">
						</div>
						<div class="col-md-6">
							<input class="form-control" id="toTXB" name="toTXB" placeholder="To" type="text">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-3">
							<input class="form-control datepicker" placeholder="Depart date" type="text">
						</div>
						<div class="col-md-3">
							<input class="form-control datepicker" placeholder="Arrival date" type="text">
						</div>
						<div class="col-md-6">
							<input class="form-control" placeholder="No. of Travellers" type="password">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-3" style="float: right;">
							<input class="btn btn-default" id="search-button" onclick="dothemagic()" type="submit" value="Search Flights and Hotels">
						</div>
					</div>
				</div>
			</form>
		</div>
	</header><!--FOOTER -->
	<footer class="text-center">
		<div class="footer-above">
			<div class="container">
				<div class="row">
					<div class="footer-col col-md-4">
						<h3>Designed by</h3>
						<h6>@heyimjoses</h6>
					</div>
					<div class="footer-col col-md-4">
						<h3>Around the Web</h3>
						<ul class="list-inline">
							<li>
								<a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-facebook"></i></a>
							</li>
							<li>
								<a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-google-plus"></i></a>
							</li>
							<li>
								<a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-twitter"></i></a>
							</li>
							<li>
								<a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-linkedin"></i></a>
							</li>
							<li>
								<a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-dribbble"></i></a>
							</li>
						</ul>
					</div>
					<div class="footer-col col-md-4">
						<h3>About Roshan</h3>
						<h6>Roshan is a flight and Hotel search-engine designed to help Travelers acquire the best possible deals on their vacation.</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-below">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						Copyright &copy; Roshan 2016
					</div>
				</div>
			</div>
		</div>
	</footer>
