.hotel-name {
	color:black;
	text-transform:uppercase;
	border:none;
	text-decoration:none;
	font:700 15px "Montserrat",Helvetica,Arial,sans-serif;
	text-align: left;
}
.hotel-info {
	color:black;

	border:none;
	text-decoration:none;
	font:700 10px Helvetica,Arial,sans-serif;
	text-align: left;
}